/* styles
-------------------------------------------------- */
body > .container {
  /* padding: 60px 15px 0; */
  padding: 20px 15px 0;
  border : 0px solid red;
}

#divCarousel {
  border : 0px solid green;
  /* padding-top: 50px; */ /* set by index.js */
}

#indexCarousel {
  border : 0px solid blue;
  margin 0px;
}

/*
img {
  max-height: 400px;
}
*/

.panel-heading {
    color: #fff !important;
    background-color: #337ab7 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

#control_panel {
  display: none;
}

.panel-min-height {
  min-height: 481.6px;
}

.panel-body-height {
  min-height: 208px;
}