.div-top {
  padding-top: 50px;
}

#div_left {
  margin-top: 10px;
  padding-top: 0px;
  padding-left: 0px;
}

.div-margin-top {
  margin-top: 10px;
}

#float-div-left {
  position: fixed;
  bottom: 100px;
  left: 0;
}

#float-div-left-top {
  position: fixed;
  top: 50px;
  left: 0;
}

#float-div-left-top-2 {
  position: fixed;
  top: 50px;
  left: 150px;
}

#float-div-left-top-3 {
  position: fixed;
  top: 50px;
  left: 300px;
}  

.ad-width {
  width: 150px;
}

#float-div-right {
  position: fixed;
  bottom: 100px;
  right: 0;
}

#float-div-right-top {
  position: fixed;
  top: 50px;
  right: 0;
}

.pos-relative {
  position: relative;
}

.close-item {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  display: none;
}

.jssocials {
  /* font-size: 1em; */
  font-size: 10px;;
}

.jssocials-share-link {
  border-radius: 50%;
  /*font-size: 10px;*/
}

/* inline for sharing buttons */
.sharing-btn * {
  display: inline;
  /*margin-bottom: 20px;*/
  border: 0px;
}

.sharing-btn a:hover, .sharing-btn a {
  text-decoration: none;
}

.decoration-none a:hover, .decoration-none a {
  text-decoration: none;
}